:root {
	--jrp-ruby-font-size: 40%;
	--jrp-graph-font-size: 70%;
	--jrp-heiban: #7070ff;
	--jrp-kifuku: #ffff00;
	--jrp-atamadaka: #00a000;
	--jrp-odaka: #ff77ff;
	--jrp-nakadaka: #c75000;
	--jrp-graph-border-width: 0.08em;
	--jrp-graph-border-radius: 0.25em;
	--jrp-graph-bg-light: #f0f0f0;
	--jrp-graph-border-light: black;
	--jrp-graph-bg-dark: black;
	--jrp-graph-border-dark: white;
	--jrp-indicator-bar-width: 3px;
	--jrp-indicator-bar-radius: var(--jrp-indicator-bar-width);
	--jrp-indicator-bar-gap: 2px;
	--jrp-indicator-bar-margin: 0.3em;
	--jrp-indicator-bar-offset: 0.1em;
	--jrp-indicator-bar-offset-vert: 0.3em;
	--jrp-indicator-diamond-size: 1em;
}
