:root {
	--jrp-indicator-margin: calc(var(--jrp-indicator-bar-width) * 4 + var(--jrp-indicator-bar-gap) * 3);
}

.jrp-indicator-container {
	position: absolute;

	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: var(--jrp-indicator-bar-gap);

	transform: translate(0, calc(var(--jrp-indicator-bar-offset) * -1));

	user-select: none;
}

.jrp-vertical .jrp-indicator-container {
	width: auto;
	height: 100%;

	transform: translate(var(--jrp-indicator-bar-offset-vert), 0);
}

.jrp-indicator {
	display: flex;
	width: calc(100% - var(--jrp-indicator-bar-margin) * 2);
	height: var(--jrp-indicator-bar-width);

	column-gap: 2px;

	border-radius: var(--jrp-indicator-bar-radius);
}

.jrp-indicator > div {
	flex-grow: 1;
}

.jrp-vertical .jrp-indicator {
	width: var(--jrp-indicator-bar-width);
	height: calc(100% - var(--jrp-indicator-bar-margin) * 2);
}

.jrp-unit {
	margin-bottom: calc(var(--jrp-indicator-margin) - var(--jrp-indicator-bar-offset));
}

.jrp-vertical .jrp-unit {
	margin-left: calc(var(--jrp-indicator-margin) - var(--jrp-indicator-bar-offset-vert));
	margin-bottom: 0;
}

.jrp-graph {
	transform: translate(0, calc(var(--jrp-indicator-bar-offset) * -1));
}

.jrp-vertical .jrp-graph {
	transform: translate(var(--jrp-indicator-bar-offset-vert), 0);
}
