.jrp-unit {
	display: inline-block;
	position: relative;
}

[data-jrp-generate] rt {
	text-align: center;
	font-size: var(--jrp-ruby-font-size);
	user-select: none;
}

[data-jrp-generate] rt:hover {
	user-select: text;
}

.jrp-unit.jrp-uncertain > span {
	opacity: var(--jrp-uncertain-opacity);
}
